<!-- Bootstrap CSS & Modifer -->
<link rel="stylesheet" href="/styles/vendor/bootstrap.min.css">
<link rel="stylesheet" href="/styles/common.css">
<!-- Other Info -->
<title>树莓派运行状态</title>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
